<div class="col-sm-12">
  <div google-chart chart="salesChart" style="{{cssStyle}}"></div>
</div>
<div class="col-sm-6">
  <div google-chart chart="ordersChart" style="{{cssStyle}}"></div>
</div>
<div class="col-sm-6">
  <div google-chart chart="categoriesChart" style="{{cssStyle}}"></div>
</div>
<div class="col-sm-12">
  <div google-chart chart="productsChart" style="{{cssStyle}}"></div>
</div>
