extends layout

block scripts
  script(src="/libs/angular.min.js")
  script(src="/js/server.js")
  script(src="/libs/angular-route.min.js")
  script(src="/libs/angular-resource.min.js")
  script(src="/js/factories.js")
  script(src="/libs/jquery.min.js")
  script(src="/libs/bootstrap.min.js")

  script(src="/js/service/getdata.service.js")
  script(src="/js/factory/auth.factory.js")
  script(src="/js/factory/factory.js")
  script(src="/js/controllers/main.controller.js")
  script(src="/js/controllers/auth.controller.js")

block links
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/libs/bootstrap.min.css')
  link(rel='stylesheet', href='/libs/bootstrap-theme.min.css')

block content

  h1 {{ main.title }}
  a(href='/#/login' class='btn btn-large btn-success') login
  br
  a(href='/#/registration' class='btn btn-large btn-success') registrate
  br
  a(href='/logout' class='btn btn-large btn-warning') logout

  ng-view
