.panel-order {
    /* used to change default values without adding additional class */
}
.panel-order .row {
    border-bottom: 1px solid #ccc;
}
.panel-order .row:last-child {
    border: 0px;
}
.panel-order .row .col-md-1  {
    text-align: center;
    padding-top: 15px;
}
.panel-order .row .col-md-1 img {
    width: 50px;
    max-height: 50px;
}
.panel-order .row .row {
    border-bottom: 0;
}
.panel-order .row .col-md-11 {
    border-left: 1px solid #ccc;
}
.panel-order .row .row .col-md-12 {
    padding-top: 7px;
    padding-bottom: 7px;
}
.panel-order .row .row .col-md-12:last-child {
    font-size: 11px;
    color: #555;
    background: #efefef;
}
.panel-order .btn-group {
    margin: 0px;
    padding: 0px;
}
.panel-order .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.panel-order .panel-deading {
    margin-bottom: 0;
}