/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
  padding: 100px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}

.navbar-nav {
  margin: 0;
  padding: 0px 0px;
}

.cart-content {
  margin: 20px;
}

.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso {font-family: Arial, Helvetica, sans-serif; color: black}.bootstrap-iso button, .bootstrap-iso button:hover{color: white !important;} .asteriskField{color: red;}

.ngCart.cart span[ng-click] {
  cursor: pointer;
}
.ngCart.cart .glyphicon.disabled {
  color:#aaa;
}

#cart-link {
/*.cart-summary {*/
  margin: -10px;
  padding-bottom: 5px;
}

ul.products li a{
  text-decoration: none;
}

ul.products li img{
  width: 100%;
  margin: 0 20px 20px 0;
}
ul.products li {
  width: 200px;
  /*border: solid 1px #646464;*/
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  margin: 0 20px 20px 0;
}

.my-drop-zone { border: dotted 3px lightgray; height: 150px;}
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
/*html, body { height: 100%; }*/
canvas {
  background-color: #f3f3f3;
  -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
  -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
  box-shadow: 3px 3px 3px 0 #e3e3e3;
  border: 1px solid #c3c3c3;
  height: 100px;
  margin: 6px 0 0 6px;
}

#profile, #activity {
  margin: 0;
}

.toggle-box {
  margin: 25px 0;
}

@media (min-width: 767px) {
    #leftCol{
        position: fixed;
    }
}

.list-group-item {
  cursor: pointer;
}

.product-thumb {
  max-height: 200px;
  width: 100%;
  height: auto;
}

.marg-top {
  margin-top: 20px;
}

ul.product-thumbs {
  margin: 0;
  list-style: none;
}

ul.product-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.product-thumbs img {
  height: 100px;
  width: 100px;
  padding: 1em;
}

ul.product-thumbs img:hover {
  cursor: pointer;
}

img.product_image {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 400px;
  width: 400px;
  display: none;
}

img.product_image:first-child {
  display: block;
}

.stock {
  opacity: 0.5;
}