<div ng-controller="AdminQuestionCtrl">
  <div ng-show="isAdmin">
    <table class="table table-striped">
      <tr>
        <th>
          <div class="commenterImage">
            <img ng-hide="support[0].user_id.avatar" ng-src="/images/users/unknown-photo-thmb.jpg" alt="avatar">
            <img ng-show="support[0].user_id.avatar" ng-src="/uploads/{{support[0].user_id.avatar}}" alt="avatar">
          </div>
          <a href="/#/admin/user/{{ support[0].user_id._id }}" >{{ support[0].user_id.name }}</a> : {{ support[0].question }}</th>
      </tr>
      <tr ng-repeat="s in support[0].answers">
       <td>
           <span ng-if="s.isAdmin === true">Admin</span><span ng-if="s.isAdmin !== true">User answer</span> : {{ s.answer }}
       </td>
      </tr>
    </table>
    <form ng-submit="createAnswer()" class="form-inline">
      <input ng-model="newAnswer" class="form-control"/>
      <button type="submit" class="btn btn-primary">Add answer</button>
    </form>
    <label>{{ questionLabel }}</label>
  </div>
  <div ng-hide="isAdmin">
    text
  </div>
  <p>
    {{ lblError }}
  </p>
</div>
