<div ng-controller="AdminQuestionsCtrl">
  <div class="page-header">
    <h3>Questions</h3>
  </div>
  <div ng-show="isAdmin">
    <table class="table table-striped">
      <tr>
        <th>Questions</th>
      </tr>
      <tr ng-repeat="prodObj in products">
       <td>
         Name:<b> {{prodObj.name}}</b>.<br> ID: <a href="/#/product/{{ prodObj._id }}" class="h5">Go to product >>></a>
         <ul ng-repeat="s in prodObj.support">
           <li ng-if="s.archive !== true"><a href="/#/admin/products/{{ prodObj._id }}/question/{{ s._id }}" class="h3">{{ s.question }}</a> </li>
         </ul>
       </td>
      </tr>
    </table>
  </div>
  <p>
    {{ lblError }}
  </p>
</div>
