<form novalidate>
  <formly-form model="$parent.category" fields="$parent.categoryFields">
    <div ng-if="category._id" class="col-xs-12">
      <button type="submit" class="btn btn-primary" ng-click="$parent.update()">Update</button>
    </div>
    <div ng-if="!category._id" class="col-xs-12">
      <button type="submit" class="btn btn-primary" ng-click="$parent.create()">Create</button>
      <button type="button" class="btn btn-primary" ng-click="$parent.saveAndCreate()">Save and create</button>
    </div>
  </formly-form>
</form>

<script type="text/ng-template" id="loading.html">
  <div ng-if="to.loading.$$state.status === 0" style="line-height:34px">
    Loading...
  </div>
  <div ng-if="to.loading.$$state.status !== 0">
    <formly-transclude></formly-transclude>
  </div>
</script>