<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <a class=" pull-right btn btn-default btn-md"
               ng-click="gotoList()">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;List
            </a>
        </div>
        <div class="row">
            <h1><span>Delete category: <strong>{{category.name}}</strong></span></h1>
        </div>
        <div class="row">
            <p>Are you sure ?</p>
            <button class="btn btn-danger" ng-click="deleteOne(category._id)">Yes</button>
            <button class="btn btn-default" ng-click="back()">No</button>
        </div>
    </div>
</div>