<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search for categories" ng-model="search">
    </div>
  </div>
</form>

<div class="panel panel-default panel-category">
  <div class="panel-heading">
    <strong>List of categories</strong>

    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-default btn-xs btn-info dropdown-toggle" ng-if="selection.length > 0" type="button"
                id="dropdownBatchMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selection.length}} selected
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownBatchMenu">
          <li>
                        <span ng-click="bulkDelete(selection)">
                            &nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;Delete
                        </span>
          </li>
        </ul>
        <a class="btn btn-default btn-xs btn-info " ng-click="gotoCreate()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th>
            <a href="" ng-click="sort('name')">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('createdAt')">
              Created at
              <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('updatedAt')">
              Updated at
              <span ng-show="sortType == 'updatedAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'updatedAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td colspan="4">
            <div class="text-center">
              <dir-pagination-controls
                      max-size="5"
                      direction-links="true"
                      template-url="libs/dirPagination.tpl.html"
                      boundary-links="true">
              </dir-pagination-controls>
            </div>
          </td>
        </tr>
      </tfoot>

      <tbody>
      <tr dir-paginate="category in categories | orderBy:sortType:sortReverse | fuzzy:search | itemsPerPage:categoriesPerPage">
        <td>{{ category.name }}</td>
        <td>{{ category.createdAt | date:'medium' }}</td>
        <td>{{ category.updatedAt | date:'medium' }}</td>
        <td>
          <a class="btn btn-default btn-sm" ng-click="gotoEdit(category._id)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
          <a class="btn btn-default btn-sm" ng-click="gotoDelete(category._id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>