<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search order" ng-model="search">
    </div>
  </div>
</form>

<div class="panel panel-default panel-order">
  <div class="panel-heading">
    <strong>Order history</strong>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">

      <thead>
      <tr>
        <td>
          <a href="" ng-click="sort('totalCost')">
            Total cost
            <span ng-show="sortType == 'totalCost' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'totalCost' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('name')">
            Customer name
            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('address')">
            Address
            <span ng-show="sortType == 'address' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'address' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('phone')">
            Phone
            <span ng-show="sortType == 'phone' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'phone' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('createdAt')">
            Created at
            <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('paid')">
            Paid
            <span ng-show="sortType == 'paid' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'paid' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
      </tr>
      </thead>

      <tfoot>
      <tr>
        <td colspan="6">
          <div class="text-center">
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    template-url="libs/dirPagination.tpl.html"
                    boundary-links="true">
            </dir-pagination-controls>
          </div>
        </td>
      </tr>
      </tfoot>

      <tbody>
      <tr dir-paginate="order in orders | orderBy:sortType:sortReverse | fuzzy:search | itemsPerPage:10">
        <td><a href="#/admin/order/{{order._id}}">{{ order.totalCost }}</a></td>
        <td>{{ order.user.name || order.guest }}</td>
        <td>{{ order.address }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.createdAt }}</td>
        <td><input type="checkbox" toggle-checkbox ng-model="order.paid" ng-change="togglePayment(order)"
                   toggle-checkbox data-size="mini" data-toggle="toggle" data-on="yes" data-off="no"
                   data-onstyle="success" data-offstyle="danger"></td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
