<div class="row">
  <a class=" pull-right btn btn-default btn-md"
     ng-click="gotoList()">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;List
  </a>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Order details</h4>
      </div>
      <div class="panel-body">
        <small>Below is the order details &amp; totals.</small>
      </div>
      <div class="table-responsive">
        <table class="table">
          <tbody>
          <tr>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>Customer name</td>
            <td ng-hide="order.user._id === undefined"><a href="#/admin/user/{{order.user._id}}">{{order.user.name}}</a>
            </td>
            <td ng-show="order.user._id === undefined">{{order.guest}}</td>
          </tr>
          <tr>
            <td>Customer message</td>
            <td><span class="simpleCart_quantity">{{order.message}}</span></td>
          </tr>
          <tr>
            <td>Products</td>
            <td>
              <table class="table">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="product in order.products">
                  <td><a href="#/product/{{product.id}}">{{product.name}}</a></td>
                  <td>{{product.price}}</td>
                  <td>{{product.quantity}}</td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td>Phone</td>
            <td><span class="simpleCart_tax">{{order.phone}}</span></td>
          </tr>
          <tr>
            <td>Shipping/Delivery</td>
            <td><span class="simpleCart_shipping">{{order.address}}</span></td>
          </tr>
          <tr>
            <td>Paid</td>
            <td><input type="checkbox" toggle-checkbox ng-model="order.paid" ng-change="togglePayment(order)"
                       toggle-checkbox data-size="mini" data-toggle="toggle" data-on="Paid" data-off="Not Paid" data-onstyle="success" data-offstyle="danger"></td>
          </tr>
          <tr>
            <td>Created at</td>
            <td><span class="simpleCart_shipping">{{order.createdAt | date:'medium'}}</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        Total cost: <strong><span class="simpleCart_grandTotal">{{order.totalCost}}</span></strong>
      </div>
    </div>
  </div>
  <!-- //end col-sm-4 -->
  <div class="clearfix"></div>
</div> <!-- //end row -->