<div class="row">

  <modal title="Select photos for product:" visible="showModal"></modal>

  <div class="col-xs-10 col-xs-offset-1">
    <div class="row">
      <a class=" pull-right btn btn-default btn-md"
         ng-click="gotoList()">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;List
      </a>
    </div>
    <div class="row">
      <h1><span>Edit product <strong>{{product.name}}</strong></span></h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="img in product.images">
        <div class="thumbnail">
          <img class="img-responsive" ng-src="/images/products/{{img}}" alt="">
        </div>
        <div class = "caption">
            <a href="" class="btn btn-default btn-xs text-center center-block well well-sm" role="button" ng-click="deletePhoto(img)">
              Delete photo
            </a>
        </div>
      </div>
      <div class="col-xs-12">
        <button ng-click="toggleModal()" class="btn btn-default btn-xs text-center center-block well well-sm">
          Upload photos for product
        </button>
        <ng-include src="'/partials/admin/products/_product_form.html'"></ng-include>
      </div>
    </div>
  </div>
</div>