<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search for products" ng-model="search">
    </div>
  </div>
</form>

<div class="panel panel-default panel-product">
  <div class="panel-heading">
    <strong>List of products</strong>

    <div class="pull-right">
      <div class="dropdown">
        <button class="btn btn-default btn-xs btn-info dropdown-toggle" ng-if="selection.length > 0" type="button"
                id="dropdownBatchMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{selection.length}} selected
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownBatchMenu">
          <li>
            <a ng-click="bulkToggleStock(selection, false)">
                &nbsp;<span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;Out off stock
            </a>
          </li>
          <li>
            <a ng-click="bulkToggleStock(selection, true)">
                &nbsp;<span class="glyphicon glyphicon-import" aria-hidden="true"></span>&nbsp;In stock
            </a>
          </li>
        </ul>
        <a class="btn btn-default btn-xs btn-info " ng-click="gotoCreate()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">

      <thead>
        <tr colspan="8">
          <div class="text-center">
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    on-page-change="pageChanged(newPageNumber)"
                    template-url="libs/dirPagination.tpl.html"
                    boundary-links="true">
            </dir-pagination-controls>
          </div>
        </tr>
        <tr>
          <th>
            <input id="bulk-selection" type="checkbox" ng-click="toggleSelection()"
                   ng-checked="selection.length == products.length"/>
          </th>
          <th>
            <a href="" ng-click="sort('name')">
              Name
              <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('price')">
              Price
              <span ng-show="sortType == 'price' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'price' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('category.name')">
              Category
              <span ng-show="sortType == 'category.name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'category.name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('createdAt')">
              Created at
              <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('updatedAt')">
              Updated at
              <span ng-show="sortType == 'updatedAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'updatedAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th>
            <a href="" ng-click="sort('isInStock')">
              Stock
              <span ng-show="sortType == 'isInStock' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                    aria-hidden="true"></span>
              <span ng-show="sortType == 'isInStock' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                    aria-hidden="true"></span>
            </a>
          </th>
          <th></th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <td colspan="8">
            <div class="text-center">
              <dir-pagination-controls
                      max-size="5"
                      direction-links="true"
                      on-page-change="pageChanged(newPageNumber)"
                      template-url="libs/dirPagination.tpl.html"
                      boundary-links="true">
              </dir-pagination-controls>
            </div>
          </td>
        </tr>
      </tfoot>

      <tbody>
      <tr dir-paginate="product in products | orderBy:sortType:sortReverse | fuzzy:search | itemsPerPage:productsPerPage" total-items="totalProducts" current-page="pagination.current">
        <td><input id="{{product._id}}" type="checkbox" value="{{product._id}}"
                   ng-checked="selection.indexOf(product._id) > -1" ng-click="toggleSelection(product._id)"/></td>
        <td><a href="#/product/{{product._id}}">{{ product.name }}</a></td>
        <td>{{ product.price }}</td>
        <td>{{ product.category.name }}</td>
        <td>{{ product.createdAt | date:'medium' }}</td>
        <td>{{ product.updatedAt | date:'medium' }}</td>
        <td>
          <input type="checkbox" toggle-checkbox ng-model="product.isInStock" ng-change="update(product._id, product.isInStock)"
                 toggle-checkbox data-size="mini" data-toggle="toggle" data-on="in stock" data-off="out of stock"
                 data-onstyle="success" data-offstyle="danger">
        </td>
        <td>
          <a class="btn btn-default btn-sm" href="#/product/{{product._id}}">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </a>
          <a class="btn btn-default btn-sm" ng-click="gotoEdit(product._id)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>