<form novalidate name="userForm">
    <formly-form model="$parent.user" fields="$parent.userFields">
        <br/>
        <div ng-if="user._id" class="col-xs-12">
            <button type="submit" class="btn btn-primary" ng-click="$parent.save()">Save changes</button>
        </div>
        <div ng-if="!user._id" class="col-xs-12">
            <button type="submit" class="btn btn-primary" ng-click="$parent.create()">Create user</button>
        </div>
    </formly-form>
</form>