<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row">
            <a class=" pull-right btn btn-default btn-md"
               ng-click="gotoList()">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;List
            </a>
        </div>
        <div class="row">
            <h1><span>Edit user <strong>{{user.name}}</strong></span></h1>
        </div>
        <div class="row">
            <ng-include src="'/partials/admin/users/_user_form.html'"></ng-include>
        </div>
    </div>
</div>