<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </div>
      <input type="text" class="form-control" placeholder="Search for users" ng-model="search">
    </div>
  </div>
</form>

<div class="panel panel-default panel-user">
  <div class="panel-heading">
    <strong>List of users</strong>

    <div class="pull-right">
      <div class="dropdown">
        <a class="btn btn-default btn-xs btn-info " ng-click="gotoCreate()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Create
        </a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-bordered table-striped">

      <thead>
      <tr>
        <td>
          <a href="" ng-click="sort('name')">
            Username
            <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('firstName')">
            First name
            <span ng-show="sortType == 'firstName' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'firstName' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('lastName')">
            Last name
            <span ng-show="sortType == 'lastName' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'lastName' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('email')">
            Email
            <span ng-show="sortType == 'email' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'email' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('createdAt')">
            Created at
            <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td>
          <a href="" ng-click="sort('updatedAt')">
            Updated at
            <span ng-show="sortType == 'updatedAt' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"
                  aria-hidden="true"></span>
            <span ng-show="sortType == 'updatedAt' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"
                  aria-hidden="true"></span>
          </a>
        </td>
        <td></td>
      </tr>
      </thead>

      <tfoot>
      <tr>
        <td colspan="5">
          <div class="text-center">
            <dir-pagination-controls
                    max-size="5"
                    direction-links="true"
                    template-url="libs/dirPagination.tpl.html"
                    boundary-links="true">
            </dir-pagination-controls>
          </div>
        </td>
      </tr>
      </tfoot>

      <tbody>
      <tr dir-paginate="user in users | orderBy:sortType:sortReverse | fuzzy:search | itemsPerPage:30">
        <td><a href="#/admin/user/{{user._id}}">{{ user.name }}</a></td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt | date:'medium'}}</td>
        <td>{{ user.updatedAt | date:'medium'}}</td>
        <td>
          <a class="btn btn-default btn-xs" ng-click="gotoShow(user._id)">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;Show
          </a>
          <a class="btn btn-default btn-xs" ng-click="gotoEdit(user._id)">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;Edit
          </a>
        </td>
      </tr>
      </tbody>

    </table>
  </div>
</div>
