<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h2>{{user.name}}
        <h4><span class="label label-danger" ng-show="user.admin == 'true'">manager</span></h4>
        <h4><span class="label label-default" ng-show="user.admin == 'false'">customer</span></h4>
      </h2>
    </div>
    <div class="col-sm-2"><p class="pull-right"><img title="profile image" class="img-circle img-responsive"
                                                     ng-src="/uploads/{{user.avatar}}"></p></div>
  </div>
  <div class="row">
    <div class="col-sm-3"><!--left col-->

      <ul class="list-group">
        <li class="list-group-item text-muted" id="profile">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span>{{user.name}}
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>{{user.createdAt |
          date:'medium'}}
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>First name</strong></span>{{user.firstName
          || '----'}}
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last name</strong></span>{{user.lastName
          || '----'}}
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span>{{user.email ||
          '----'}}
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span>{{user.phone ||
          '----'}}
        </li>
      </ul>

    </div>
    <!--/col-3-->
    <div class="col-sm-9">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
            <input type="text" class="form-control" placeholder="Search for order" ng-model="search">
          </div>
        </div>
      </form>

      <table class="table table-hover">

        <thead>
        <tr>
          <th>Total cost</th>
          <th>Phone</th>
          <th>Shipping Address</th>
          <th>Message</th>
          <th>Created at</th>
          <th class="text-center">Paid</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
          <td colspan="5">
            <div class="text-center">
              <dir-pagination-controls
                      max-size="5"
                      direction-links="true"
                      template-url="libs/dirPagination.tpl.html"
                      boundary-links="true">
              </dir-pagination-controls>
            </div>
          </td>
        </tr>
        </tfoot>
        <tr dir-paginate="order in user.orders | orderBy:sortType:sortReverse | filter:search | itemsPerPage:10">
          <td><a href="#/admin/order/{{order._id}}">{{ order.totalCost }}</a></td>
          <td>{{ order.phone }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.message }}</td>
          <td>{{ order.createdAt | date:'medium'}}</td>
          <td class="text-center">
            <h6><span class="label label-danger" ng-show="order.paid == false">not paid</span></h6>
            <h6><span class="label label-success" ng-show="order.paid == true">paid</span></h6>
          </td>
        </tr>
      </table>

    </div>
    <!--/tab-content-->

  </div>
  <!--/col-9-->
</div><!--/row-->
