<div class="alert alert-warning" role="alert" ng-show="ngCart.getTotalItems() === 0">
    {{$root.message}}
</div>

<div class="table-responsive col-lg-12" ng-show="ngCart.getTotalItems() > 0">

    <table class="table table-striped ngCart cart">
        <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Total</th>
        </tr>
        </thead>
        <tfoot>
        <tr ng-show="ngCart.getTax()">
            <td></td>
            <td></td>
            <td></td>
            <td>Tax ({{ ngCart.getTaxRate() }}%):</td>
            <td>{{ ngCart.getTax() | currency }}</td>
        </tr>
        <tr ng-show="ngCart.getShipping()">
            <td></td>
            <td></td>
            <td></td>
            <td>Shipping:</td>
            <td>{{ ngCart.getShipping() | currency }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ ngCart.totalCost() | currency }}</td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="item in ngCart.getCart().items track by $index">
            <td><span ng-click="ngCart.removeItemById(item.getId())" class="glyphicon glyphicon-remove"></span></td>

            <td>{{ item.getName() }}</td>
            <td><span class="glyphicon glyphicon-minus" ng-class="{'disabled':item.getQuantity()==1}"
                      ng-click="item.setQuantity(-1, true)"></span>&nbsp;&nbsp;
                {{ item.getQuantity() | number }}&nbsp;&nbsp;
                <span class="glyphicon glyphicon-plus" ng-click="item.setQuantity(1, true)"></span></td>
            <td>{{ item.getPrice() | currency}}</td>
            <td>{{ item.getTotal() | currency }}</td>
        </tr>
        </tbody>
    </table>

<div class="row">
    <div class="col-sm-10 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 style="margin: 0;">Please fill in this form to make an order</h3>
                    <small>Details submitted here will not be published.</small>
                </div>
                <div class="panel-body">
                    <input type="hidden" ng-model="user_id"/>
                    <div class="form-group " ng-hide="isLogged">
                        <label for="name">Name</label>
                        <input class="form-control" id="name" name="name" type="text" ng-model="name"/>
                    </div>
                    <div class="form-group">
                        <label for="tel">Phone @ H/P</label>
                        <input class="form-control" id="tel" name="tel" required placeholder="(xxx)xxx-xxxx" type="phone" phone-input ng-model="phone"/>
                    </div>
                    <div class="form-group">
                        <label for="address">Delivery Address</label>
                        <textarea class="form-control" required placeholder="" rows="5" id="address" name="address" type="text" ng-model="shipping_address">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="message">Your Message</label>
                        <textarea class="form-control" id="message" name="message" rows="5" ng-model="message"></textarea>
                        <span class="helper-block text-info small">Please include additional messages to us here.</span>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <ngcart-checkout ng-if="ngCart.getTotalItems() > 0 && phone && shipping_address"
                                     service="http"
                                     settings="{ url:'api/v1/checkout', id: user_id, name: name, phone: phone,  shipping_address: shipping_address, message: message}" ></ngcart-checkout>
                </div>
            </div>
        </div> <!-- //end col-sm-8 -->
        <div class="clearfix"></div>
    </div> <!-- //end row -->
</div>