
<div ng-if="service=='http' || service == 'log'">
    <button class="btn btn-primary" ng-click="checkout(user_id)" ng-disabled="!ngCart.getTotalItems() && phone && shipping_address" ng-transclude>Checkout</button>
</div>