<div class="container" nv-file-drop="" uploader="uploader">

    <modal title="Select new photo for user:" visible="showModal"></modal>

    <div class="container">
        <h1 class="page-header">Edit personal info of user: <strong>{{user.name}}</strong></h1>
        <div class="row">
            <!-- left column -->
            <div class="col-sm-4 col-xs-12">
                <div class="text-center">
                    <img ng-hide="user.avatar" ng-src="http://lorempixel.com/200/200/people/" class="avatar img-circle img-thumbnail" alt="avatar">
                    <img ng-show="user.avatar" ng-src="/uploads/{{user.avatar}}" class="avatar img-circle img-thumbnail" alt="avatar">
                    <button ng-click="toggleModal()" class="btn btn-default btn-xs text-center center-block well well-sm">Upload a different photo...</button>
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-sm-8 col-xs-12 personal-info">
                <h3>Personal info</h3>
                <form role="form" ng-submit="updateProfile()" name="profileForm" novalidate>
                    <formly-form model="user" fields="userFields">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <a href="" class="btn btn-default" ng-click="back()">Cancel</a>
                    </formly-form>
                </form>
            </div>
        </div>
    </div>
</div>