<div class="footer">
  <div class="container">
    <p class="text-muted">&#64; GeekhubTeam
      <a class="pull-right" href="http://geekhub.ck.ua/" target="_blank">Geekhub</a>
    </p>
  </div>
</div>
