<nav class="navbar navbar-default navbar-fixed-top" ng-controller="HeaderCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">Arduino</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/')}"><a href="#/">Home</a>
                </li>
                <li ng-class="{active:isActive('/login')}" ng-hide="showMenu"><a ng-href="#/login">Log In</a>
                </li>
                <li ng-class="{active:isActive('/registration')}" ng-hide="showMenu"><a ng-href="#/registration">Sign Up</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" ng-show="showMenu">
                <li ng-class="{active:isActive('/profile')}">
                    <a ng-href="#/profile">Profile</a>
                </li>
                <li ng-hide="showForAdmin" ng-class="{active:isActive('/user/questions')}">
                    <a ng-href="#/user/questions">My Questions</a>
                </li>
                <li ng-hide="showForAdmin" ng-class="{active:isActive('/user/wishlist')}">
                    <a ng-href="#/user/wishlist">My Wishlist</a>
                </li>
                <li class="dropdown" ng-show="showForAdmin">
                    <a href="javascript:" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/admin/products">Products</a></li>
                        <li><a href="#/admin/categories">Categories</a></li>
                        <li><a href="#/admin/questions">Questions</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/admin/orders">Orders</a></li>
                        <li><a href="#/admin/users">Users</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/admin/reports">Reports</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:" ng-click="logout()">Logout</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-left" role="search" autocomplete='off'>
                        <div class="form-group">
                            <live-search id="search1" type="text"
                            live-search-callback="userSearchCallback" placeholder="Search"
                            ng-model="userSearch" class="form-control"></live-search>
                        </div>
                    </form>
                </li>
                <li ng-class="{active:isActive('/cart')}">
                    <a href="#/cart" class="cart-summary" id="cart-link">
                        <ngcart-summary></ngcart-summary>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>