<div class="container-fluid fill" ng-controller="HomeCtrl">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3" id="leftCol">
      <div ng-include="'partials/sidebar.html'"></div>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-3">
      <!-- Placeholder - keep empty -->
    </div>
    <div class="col-lg-10 col-md-9 col-sm-9">
      <ul class="products">
        <li dir-paginate="p in products | orderBy:sortKey:reverse | filter:search | itemsPerPage:productsPerPage"
            total-items="totalProducts" current-page="pagination.current" ng-class="{stock: !p.isInStock}">
          <a href="/#/product/{{ p._id }}">
            <img ng-show="p.images.length > 0" ng-src="/images/products/{{p.images[0]}}" class="product-thumb">
            <img ng-hide="p.images.length > 0" src="http://placehold.it/150x150">
            <h4 class="">{{p.name}}</h4>
          </a>

          <div class="product-price">
            <span class="normal-price">{{p.price | currency}}</span>
          </div>
          <ngcart-addtocart
                  ng-if="p.isInStock"
                  id="{{ p._id }}"
                  name="{{ p.name }}"
                  price="{{ p.price }}"
                  quantity="1"
                  data="item">
            Add to Cart
          </ngcart-addtocart>
          <span ng-if="!p.isInStock" class="label label-danger">Out of stock</span>
        </li>
      </ul>


      <div class="text-center col-sm-12" >
        <dir-pagination-controls
                max-size="5"
                direction-links="true"
                on-page-change="pageChanged(newPageNumber, currentCategory)"
                template-url="libs/dirPagination.tpl.html"
                boundary-links="true">
        </dir-pagination-controls>
      </div>

      <div ng-if="reViewed" class="col-lg-11 col-md-10 col-sm-10" style="-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;">
        <h3>Recently reviewed</h3>
        <div class="swiper-container">
          <div class="swiper-wrapper" >
            <div ng-repeat="r in reViewed" class="swiper-slide" ng-class="{stock: !r.isInStock}">
              <a href="/#/product/{{ r._id }}">
                <img ng-show="r.images.length > 0" ng-src="/images/products/{{r.images[0]}}" class="product-thumb">
                <img ng-hide="r.images.length > 0" src="http://placehold.it/150x150">
                <h4>{{r.name}}</h4>
              </a>
              <div style="margin-bottom: 3em">
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>