<div ng-controller="LoginCtrl">
<legend>Login Form</legend>
<form ng-submit="login()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" ng-model="user.name">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="user.password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<br>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Forgot password?
</button>
<div ng-if="successReset" class="alert alert-success">
    <strong>Success!</strong> {{successReset}}
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Restore password</h4>
            </div>
            <div class="modal-body">
                <label>E-mail: </label>
                <input id="myInput" type="email" name="email" placeholder="Enter a valid email address" ng-model="user.email">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="restoreForgot()">Restore</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal code -->
<div class="modal fade" id="myModalReset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelReset">Reset password</h4>
            </div>
            <div class="modal-body">
                    <label>Code: </label><br>
                    <input input type="text" name="code" id="codereset" placeholder="Enter a valid email address" ng-model="user.code"><br>
                    <label>Password: </label><br>
                    <input input type="password" name="passwordreset" id="passwordreset" placeholder="Enter a valid email password" ng-model="user.passwordreset"><br>
                    <label>Confirm password: </label><br>
                    <input input type="password" name="confirmPassword" id="confirmreset" placeholder="Confirm password" ng-model="user.confirmPassword">&nbsp;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="restoreReset()">Reset</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>