
<div ng-controller="ProductsCtrl" class="row">
  <div ng-repeat="product in products.products" class="col-xs-6"><a href="/#/product/{{ product._id }}" class="btn">{{ product.name }}</a><img src="{{ product.image }}" alt="{{ product.name }}" class="img-rounded img-product"/>
    <div>
      <p class="lead">{{ product.description }}</p>
      <p>{{ product.price }}</p>
      <p>{{ product.category }}</p>
    </div>
  </div>
</div>