<div class="row">
  <div ng-controller="ProductsCtrl">
    <div class="col-md-6">
      <div class="row" ng-show="product.images">
        <img class="col-sm-12" ng-src="/images/products/{{mainImageUrl}}" alt="{{ product.name }}"
             class="product_image img-responsive"/>
        <div class="col-sm-12">
          <ul class="product-thumbs">
            <li ng-repeat="img in product.images">
              <img ng-src="/images/products/{{img}}" ng-click="setImage(img)">
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <img ng-hide="product.images" ng-src=https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150
             alt="{{ product.name }}"/>
      </div>
    </div>

    <div class="col-md-6">
      <h2>
        {{ product.name }}
      </h2>

      <h3>
        <strong>Price:</strong> {{ product.price | currency }}
      </h3>

      <p>
        <strong>Created at:</strong> {{ product.createdAt | date:'medium' }}
      </p>

      <div class="row">
        <div class="col-md-4">
          <ngcart-addtocart
                  ng-if="product.isInStock"
                  id="{{ product._id }}"
                  name="{{ product.name }}"
                  price="{{ product.price }}"
                  quantity="1"
                  quantity-max="5"
                  data="item">
            Add to Cart
          </ngcart-addtocart>
          <h5><span ng-if="!product.isInStock" class="label label-danger">Out of stock</span></h5>
        </div>
        <div class="col-md-4" ng-show="isLogged">
          <button ng-click="addtoWishlist()" class="btn btn-sm btn-primary">Add to Wish list</button>
          <label>{{ wishlistNotice }}</label>
        </div>
        <div class="col-md-4">
          <div ng-controller="AdminQuestionsCtrl">
            <div ng-show="isLogged">
              <button data-toggle="collapse" data-target="#question" class="btn btn-sm btn-warning">Ask a Question</button>
              <div id="question" class="collapse">
                <form ng-submit="sendQuestion()" class="form-inline">
                  <input type="text" class="form-control" id="questions" placeholder="Type your question..."
                         ng-model="newQuestion" required>
                  <button type="submit" class="btn-sm btn-primary">Send question</button>
                </form>
              </div>
              <label>{{ questionLabel }}</label>
            </div>
          </div>
          <div ng-hide="isLogged">
            <a href="/#/registration" class="btn btn-info">Sign Up and Ask</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="detailBox">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a data-target="#description" data-toggle="tab">
        <div class="titleBox">
          <label>Description</label>
        </div>
      </a></li>
      <li><a data-target="#comments" data-toggle="tab">
        <div class="titleBox">
          <label>Comments <span class="badge">{{product.comments.length}}</span></label>
        </div>
      </a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="description">
        <div class="titleBox">
          {{product.description}}
        </div>
      </div>
      <div class="tab-pane" id="comments">

        <div class="commentBox">
          <p class="authWarning" ng-hide="isLogged">
            Only registered users can leave comments. Please <a href="#/login">login</a> or
            <a href="#/registration">sign up</a> to proceed.
          </p>
        </div>
        <div class="actionBox">
          <ul class="commentList">
            <li ng-repeat="comment in product.comments"
                ng-init="editMode = false">
              <div class="commenterImage">
                <img ng-hide="comment.user.avatar" ng-src="/images/users/unknown-photo-thmb.jpg" alt="avatar">
                <img ng-show="comment.user.avatar" ng-src="/uploads/{{comment.user.avatar}}" alt="avatar">
              </div>
              <div class="commentText">
                <p ng-hide="editMode">{{comment.text}}</p>

                <p ng-show="editMode" ng-init="editedComment = comment.text">
                  <textarea rows="6" ng-model="editedComment"></textarea>
                  <button type="button" class="btn btn-primary btn-xs" ng-show="userId==comment.user._id"
                          ng-click="updateComment(comment._id, editedComment)">save
                  </button>
                  <button type="button" class="btn btn-default btn-xs" ng-show="userId==comment.user._id"
                          ng-click="editMode = !editMode">cancel
                  </button>
                </p>
                <span class="date sub-text">on {{comment.createdAt | date:'medium'}}</span>
                <button class="btn btn-default btn-xs" ng-show="isAdmin"
                        ng-click="deleteComment(comment._id)">
                  delete
                </button>
                        <span ng-show="clock - (comment.createdAt | toMiliseconds) < 120000">
                            <button type="button" class="btn btn-default btn-xs" ng-show="userId==comment.user._id"
                                    ng-click="editMode = !editMode">
                              edit ({{clock - (comment.createdAt | toMiliseconds) | secondsLeft}}s left)
                            </button>
                        </span>
              </div>
            </li>
          </ul>
          <form ng-submit="createComment()" class="form-inline" ng-show="isLogged">
            <input ng-model="newComment" class="form-control"/>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="reViewed" class="col-md-10 col-md-offset-2 center-block">
    <h3>Recently reviewed</h3>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div ng-repeat="r in reViewed" class="swiper-slide" ng-class="{stock: !r.isInStock}">
                <a href="/#/product/{{ r._id }}">
                    <img ng-show="r.images.length > 0" ng-src="/images/products/{{r.images[0]}}" class="product-thumb">
                    <img ng-hide="r.images.length > 0" src="http://placehold.it/150x150">
                    <p class="text-center" style="width: 150px;">{{r.name}}</p>
                </a>

                <div style="margin-bottom: 3em">
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</div>