<div class="container">
  <div class="page-header">
    <h2>Welcome to your personal profile page, <b>{{user.name}}</b></h2>
  </div>

  <div class="row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img ng-hide="user.avatar" ng-src="/images/users/unknown-photo-thmb.jpg" class="avatar img-circle img-thumbnail" alt="avatar">
        <img ng-show="user.avatar" ng-src="/uploads/{{user.avatar}}" class="avatar img-circle img-thumbnail" alt="avatar">
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <ul class="list-group">
        <li class="list-group-item text-muted" id="profile">
          <h3>
            Personal info <small class="text-muted"><a href="/#/profile/edit" class="btn btn-warning btn-xs pull-right">edit</a></small>
          </h3>
        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Username</strong></span>{{user.name}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Joined</strong></span>{{user.createdAt | date:'medium'}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>First name</strong></span>{{user.firstName || '----'}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Last name</strong></span>{{user.lastName || '----'}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span>{{user.email || '----'}}</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong>Phone</strong></span>{{user.phone || '----'}}</li>

      </ul>
    </div>
  </div>

  <hr/>
  <h2>Orders</h2>
  <p class="lead">
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>Total cost</th>
        <th>Updated at</th>
        <th>Paid</th>
      </tr>
      <tr ng-repeat-start="order in user.orders | orderBy:'updatedAt':true" track by order._id
          data-toggle="collapse" data-target="#{{order._id}}" class="accordion-toggle">
        <td>{{order._id}}</td>
        <td>{{order.totalCost}}</td>
        <td>{{order.updatedAt | date:'medium'}}</td>
        <td>{{order.paid}}</td>
      </tr>
      <tr ng-repeat-end>
        <td class="hiddenRow" colspan="4">
          <div class="accordion-body collapse" id="{{order._id}}">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Product name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="product in order.products">
                  <td></td>
                  <td></td>
                  <td><a href="#/product/{{product.id}}">{{product.name}}</a></td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.total}}</td>
                </tr>
              </tbody>
            <table>
          </div>
        </td>
      </tr>
    </table>
  </p>
  <hr/>
</div>