<div ng-controller="UserQuestionsCtrl">
  <div class="page-header">
    <h3>Questions</h3>
  </div>
  <div ng-show="showMenu">
    <table class="table table-striped">
      <tr>
        <th>Questions</th>
      </tr>
      <tr ng-repeat="prodObj in products">
       <td>
         Name: <a href="/#/product/{{ prodObj._id }}" class="h5"><h4> {{prodObj.name}}</h4></a>
         <ul ng-repeat="s in prodObj.support | filter:{ user_id: userId }">
           Question: <p ng-if="s.archive !== true"><a href="/#/user/products/{{ prodObj._id }}/question/{{ s._id }}" class="h3"> {{ s.question }}</a> </p>
         </ul>
       </td>
      </tr>
    </table>
  </div>
  <p>
    {{ lblError }}
  </p>
</div>
