<div ng-controller="UserQuestionsCtrl">
  <div ng-hide="showForAdmin">
    <table class="table table-striped">
      <tr>
        <th>Question asked <a href="/#/admin/user/{{ support[0].user_id }}">{{ support[0].user_id.name }}</a> : {{
          support[0].question }}
        </th>
      </tr>
      <tr ng-repeat="s in support[0].answers">
        <td>
          <span ng-if="s.isAdmin === true">Manager</span><span ng-if="s.isAdmin !== true">My</span>: {{ s.answer }}
        </td>
      </tr>
    </table>
    <form ng-submit="createUserAnswer()" class="form-inline">
      <input ng-model="newUserAnswer" class="form-control"/>
      <button type="submit" class="btn btn-primary">Add answer</button>
    </form>
    <label>{{ questionLabel }}</label>
  </div>
  <p>
    {{ lblError }}
  </p>
</div>
