<legend>Registration</legend>
<form ng-submit="registration()">
    <div class="form-group">
        <label>{{ errmessage }}</label>
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.name" required>
        <label for="password">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" ng-model="user.email" required>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
        <label for="password">Confirm password</label>
        <input type="password" class="form-control" id="re-password" name="re-password" placeholder="Confirm password" ng-model="user.confirmpassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Register me</button>
</form>