<div class="list-group">
  <a href="#/" class="list-group-item"
     ng-click="getAll()"
     ng-class="{active: currentCategory === category.name}">
    All <span class="badge">{{total_products}}</span>
  </a>
  <a ng-repeat="category in categories" class="list-group-item"
     ng-class="{active: currentCategory === category.name}"
     ng-if="category.name"
     ng-click="getAll(null, category.name)">
    {{category.name}} <span class="badge">{{category.total_products}}</span>
  </a>
</div>
