<div class="container" ng-controller="WishlistCtrl">
    <h3>My Wishlist</h3>
    <ul class="products">

        <li ng-repeat="r in products" ng-class="{stock: !r.isInStock}">
                <button type="button" class="close" ng-click="deleteFromWishlist(r._id)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <a href="/#/product/{{ r._id }}">
                <img ng-show="r.images.length > 0" ng-src="/images/products/{{r.images[0]}}" class="product-thumb">
                <img ng-hide="r.images.length > 0" src="http://placehold.it/150x150">
                <h4>{{r.name}}</h4>
            </a>

            <div class="product-price">
                <span class="normal-price">{{r.price | currency}}</span>
            </div>
        </li>
    </ul>
</div>